Adafruit==0.0.0
aniso8601==7.0.0
ansible==2.8.1
appdirs==1.4.3
APScheduler==3.6.0
argh==0.26.2
attrs==19.1.0
automationhat==0.2.0
beautifulsoup4==4.7.1
better-exceptions==0.2.2
blessings==1.6
blinker==1.3
blinkt==0.1.2
bottle==0.12.13
brickpi3==0.0.0
bs4==0.0.1
buttonshim==0.0.2
cachingutil==1.2.7
Cap1xxx==0.1.3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
classutils==1.18.0
click==6.6
colorama==0.3.7
configurationutil==3.7.1
conversionutil==1.4.3
cryptography==1.7.1
curtsies==0.2.11
cycler==0.10.0
decorator==4.4.0
Dexter-AutoDetection-and-I2C-Mutex==0.0.0
DI-Sensors==1.0.0
docker-py==1.9.0
dominate==2.3.5
drumhat==0.1.0
envirophat==1.0.0
et-xmlfile==1.0.1
ExifRead==2.1.2
ExplorerHAT==0.4.2
fdutil==1.15.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
Flask-Testing==0.7.1
fourletterphat==0.1.0
future==0.16.0
gitdb2==2.0.5
GitPython==2.1.11
Glances==2.7.1
GoPiGo==0.0.0
gopigo3==1.2.0
gpiozero==1.4.1
grovepi==1.0.4
gTTS==2.0.3
gTTS-token==1.1.3
httpretty==0.9.6
idna==2.8
imageio==2.5.0
imutils==0.5.2
influxdb==3.0.0
iotop==0.6
ipaddress==1.0.22
itsdangerous==0.24
jdcal==1.4.1
jedi==0.10.2
Jinja2==2.10.1
jsonschema==3.0.1
kalliope==0.5.4
keyring==10.1
keyrings.alt==1.3
kiwisolver==1.1.0
Line-Follower==1.0.0
logging-helper==1.8.7
logging-tree==1.8
mahotas==1.4.5
MarkupSafe==1.1.1
matplotlib==3.0.3
microdotphat==0.2.1
mock==3.0.5
mote==0.0.4
motephat==0.0.2
netifaces==0.10.4
networkx==2.3
nltk==3.4.1
num2words==0.5.7
numpy==1.15.1
oauthlib==2.0.1
opencv-contrib-python==3.4.4.19
openpyxl==2.6.2
packaging==19.0
paho-mqtt==1.4.0
pantilthat==0.0.7
pathtools==0.1.2
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
picraft==1.0
piglow==1.2.5
pigpio==1.38
Pillow==6.2.0
pivotpi==0.0.0
pocketsphinx==0.1.15
psutil==5.0.1
pyalsaaudio==0.8.4
pyasn1==0.4.5
PyAudio==0.2.11
pycparser==2.18
pycrypto==2.6.1
pygame==1.9.3
pygobject==3.22.0
pyinotify==0.9.6
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.1.10
pyperclip==1.7.0
pyrsistent==0.15.2
pyserial==3.2.1
pysnmp==4.3.2
pystache==0.5.4
python-apt==1.1.0b5
python-dateutil==2.5.3
python-periphery==1.1.0
pytz==2016.7
pyusb==1.0.2
PyWavelets==1.0.3
pyxdg==0.25
PyYAML==5.1.1
rainbowhat==0.1.0
requests==2.22.0
requests-oauthlib==0.7.0
RPi.GPIO==0.6.5
RTIMULib==7.2.1
ruamel.yaml==0.15.97
scikit-image==0.15.0
scikit-learn==0.19.2
scipy==0.18.1
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
sense-emu==1.1
sense-hat==2.2.0
simplejson==3.10.0
six==1.12.0
skywriter==0.0.7
smbus-cffi==0.5.1
smmap2==2.0.5
sn3218==1.2.7
sounddevice==0.3.13
SoundFile==0.10.2
soupsieve==1.9.1
sox==1.3.7
SpeechRecognition==3.8.1
spidev==3.3
stateutil==1.4.0
tableutil==2.4.2
thonny==2.1.16
timingsutil==1.6.0
tornado==5.0.2
touchphat==0.0.1
transitions==0.6.9
twython==3.4.0
tzlocal==2.0.0b2
uiutil==1.36.2
unicornhathd==0.0.4
urllib3==1.25.3
voicerss-tts==1.0.6
watchdog==0.9.0
wcwidth==0.1.7
websocket-client==0.37.0
Werkzeug==0.15.5
wiringpi==2.46.0
